* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: #25282A;
    width: 100%;
    max-height: 100vh;
    margin: 0 auto;
    /*overflow: hidden;*/
}

.wrap {
    margin: 50px auto;
    position: relative;
    width: 65vw;
    height: 37vw;
}

.wrap>input {
    display: none;
}

.slider {
    height: inherit;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: inherit;
       
}

.slides {
    height: inherit;
    width: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem; 
}

.slide1 {
    background-image: url('.././img/1.jpg');
}

.slide2 {
    background-image: url('.././img/2.jpg');
}

.slide3 {
    background-image: url('.././img/3.jpg');
}

.slide4 {
    background-image: url('.././img/4.jpg');
}

.slide5 {
    background-image: url('.././img/5.jpg');
}

.wrap .controls {   
    position: relative;
    float: right;
    z-index: 15;
}

.wrap label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
    border-radius: 50%;
}

.wrap label:after {
    border: 2px solid #ddd;
    content: " ";
    display: block;
    height: 20px;
    left: -2px;
    position: relative;    
    top: -2px;
    width: 20px;
    border-radius: 50%;

}

.wrap label {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 20px;
    border-radius: 50%;
    transition: background ease-in-out .3s;
    
}

.wrap label:hover,
#slide1:checked~.controls label:nth-of-type(1),
#slide2:checked~.controls label:nth-of-type(2),
#slide3:checked~.controls label:nth-of-type(3),
#slide4:checked~.controls label:nth-of-type(4),
#slide5:checked~.controls label:nth-of-type(5) {
    background: #ccc;
}

.wrap label:active,
#slide1:checked~.controls label:nth-of-type(1),
#slide2:checked~.controls label:nth-of-type(2),
#slide3:checked~.controls label:nth-of-type(3),
#slide4:checked~.controls label:nth-of-type(4),
#slide5:checked~.controls label:nth-of-type(5) {
    background: #6DBEF3;
}


.slides {
    /*height: inherit;*/
    opacity: 0;
    width: 65vw;
    height: 37vw;    
    position: fixed;
    width: inherit;
    z-index: 0;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}


#slide1:checked~.slider>.slide1,
#slide2:checked~.slider>.slide2,
#slide3:checked~.slider>.slide3,
#slide4:checked~.slider>.slide4,
#slide5:checked~.slider>.slide5 {
    opacity: 1;
    z-index: 1;
}

#slide1:checked~.blocktext>.text1,
#slide2:checked~.blocktext>.text2,
#slide3:checked~.blocktext>.text3,
#slide4:checked~.blocktext>.text4,
#slide5:checked~.blocktext>.text5 {
    opacity: 1;
    z-index: 1;
    color: white;
    transform: translateX(0px);
}

.blocktext {
    margin-top: 20px;
    position: relative;
}

.text {
    opacity: 0;
    z-index: 0;  
    position: fixed;
    transform: translateX(-500px);
    transition: .7s;
    font-size: 2rem;
    font-weight: 100;
}

@media (max-width: 1200px) {
    .text {
        font-size: 1.5rem;
    }
}

@media (max-width: 1024px) {
    .wrap {
        position: relative;
        width: 85vw;
        height: 47vw;
    }

    .slides {
        width: 85vw;
        height: 47vw;
    }

    .blocktext {
        margin-top: 20px;
        position: relative;
    }

    .text {
        font-size: 24px;
    }

    .wrap .controls {
        float: none;
        margin: 0 auto;
        max-width: 250px;
        width: 100%;
    }

    .wrap label:after {
    width: 18px;
    height: 18px;   
    left: -3px;     
    top: -3px;   
}

.wrap label {
    width: 16px;
    height: 16px;    
}

}